.AnouncementsList {
  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 2147483647;
  pointer-events: none;
  background: #000;
  color: #fff;
  line-height: 1.5;
  font-family: sans-serif;
  font-weight: normal;
  padding: 0.5em;
  width: fit-content;
  max-width: 90vw;
  height: fit-content;
  max-height: 90vh;
  overflow: auto;
  list-style: none;
}
.Announcement {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.25em;
}
.AssertIcon {
  color: rgb(255, 75, 0);
  flex-shrink: 0;
}
.Content {
  margin: 0;
}
