.Tip {
  padding: 2px 4px;
  font: bold 10px/1 sans-serif;
  white-space: nowrap;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  color: #000;
  background-color: #fff;
}
.Tip--name {
  background-color: rgb(119, 217, 168);
}

.Tip--role {
  background-color: rgb(255, 202, 191);
}

.Tip--tagName {
  background-color: rgb(201, 172, 230);
}
.Tip--landmark {
  background-color: rgb(216, 242, 85);
}

.Tip--description {
  background-color: rgb(200, 200, 203);
}

.Tip--level {
  background-color: rgb(191, 228, 255);
}

.Tip--warning {
  background-color: rgb(255, 241, 0);
}

.Tip--error {
  background-color: rgb(214, 64, 0);
  color: #fff;
}

.Tip__icon {
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
  background-color: transparent;
}
